
<% if current_user.roles.any?{|role| role.r == "student"} %>
<% if current_user.role == "student" %>
  <h3>Select an option</h3>

  <div>
    <h4><a href="/studies">Study Groups</a> </br>

    <br><br>
    <a href="/">Home</a> </br></h4>

  </div>
<% end %>
<% if current_user.roles.any?{|role| role.r == "admin"} %>
<% if current_user.role == "admin" %>
  <h3>Select an option</h3>

  <div>
    <h4><a href="/employments">Employment</a> </br>
    <a href="/events">Events</a> </br>
    <a href="/clubs">Clubs</a> </br>
    <a href="/staffs">Staff</a> </br>
    <a href="/researches">Research</a> </br>
    <a href="/academics">Academics</a> </br>
    <a href="/courses">Classes</a> </br>
    <a href="/studies">Study Groups</a> </br>
    <a href="/student_projects">Student Projects</a> </br>

    <br><br>
    <a href="/">Home</a> </br></h4>

  </div>
<% end %>
<% if current_user.roles.any?{|role| role.r == "club"} %>
<% if current_user.role == "clubs" %>
  <h3>Select an option</h3>

  <div>
    <h4>
    <a href="/events">Events</a> </br>
    <a href="/clubs">Clubs</a> </br>
    
    <a href="/studies">Study Groups</a> </br>
   

    <br><br>
    <a href="/">Home</a> </br></h4>

  </div>
<% end %>
