<h3>Select an option</h3>

<div>
  <h4><a href="/employments">Employment</a> </br>
  <a href="/events">Events</a> </br>
  <a href="/clubs">Clubs</a> </br>
  <a href="/staffs">Staff</a> </br>
  <a href="/researches">Projects</a> </br>
  <a href="/academics">Academics</a> </br>
  <a href="/courses">Classes</a> </br>
  <a href="/studies">Study Groups</a> </br>

  <br><br>
  <a href="/">Home</a> </br></h4>

</div>
