<!--Accordion menu of all clubs offered in the cis department-->
<!DOCTYPE html>
<html>
	<div class="panel-group" id="accordion" padding-top="10px">
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				  ACM
				</a>
			  </h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
			  <div class="panel-body">
				Meets Tuesdays at 7:00pm in Nichols 126. <a href="http://acm.cis.ksu.edu/"> <font color="#512888"><u>ACM Homepage</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				  Mobile App Development
				</a>
			  </h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
				Meets Thursdays at 7:00pm in Nichols 126.
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				  Game Development
				</a>
			  </h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
				Meets Wednesdays at 7:00pm in Nichols 126.
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				  Makerspace
				</a>
			  </h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
			  <div class="panel-body">
				Meets Tuesdays at 7:00pm in Nichols 126.
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				  Wildcraft
				</a>
			  </h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
			  <div class="panel-body">
				Competitive eSports. Meets Wednesdays and Fridays at 7:00pm in Nichols 122.
			  </div>
			</div>
		</div>		
	</div>
</html>