
<div class="bs-example">
    <div class="panel-group" id="accordionBT15">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionBT15" href="#collapse15BT">Cybersecurity</a>
      </h4>
    </div>
    <div id="collapse15BT" class="panel-collapse collapse in">
      <div class="panel-body">
        <p><a href=" http://cis.ksu.edu/research/areas/cybersecurity/" style="text-decoration: underline; color: blue;">KSU Cybersecurity</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionBT15" href="#collapse16BT">Data Mining and Machine Learning</a>
      </h4>
    </div>
    <div id="collapse16BT" class="panel-collapse collapse">
      <div class="panel-body">
        <p><a href="http://cis.ksu.edu/research/areas/data-mining/" style="text-decoration: underline; color: blue;">Data Mining and Machine Learning</a></p>
      </div>
    </div>
  </div>
</div>
</div>
