<!DOCTYPE html>
<html>
	<div class="panel-group" id="accordionbt" padding-top="10px">
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseOnebt">
				  Cybersecurity
				</a>
			  </h4>
			</div>
			<div id="collapseOnebt" class="panel-collapse collapse in">
			  <div class="panel-body">
				<a href="http://www.cis.ksu.edu/research/areas/cybersecurity/"> <font color="#512888"><u>Cybersecurity</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseTwobt">
				  Machine Learning and Data Mining
				</a>
			  </h4>
			</div>
			<div id="collapseTwobt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://www.cis.ksu.edu/research/areas/data-mining/"> <font color="#512888"><u>Machine Learning and Data Mining</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseThreebt">
				  Argus Cybersecurity Group
				</a>
			  </h4>
			</div>
			<div id="collapseThreebt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://www.arguslab.org//"> <font color="#512888"><u>Argus Cybersecurity Group</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseFourbt">
				  Beocat
				</a>
			  </h4>
			</div>
			<div id="collapseFourbt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://www.cis.ksu.edu/beocat/"> <font color="#512888"><u>Beocat</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseFivebt">
				  Center for Information Assurance
				</a>
			  </h4>
			</div>
			<div id="collapseFivebt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://www.cisa.ksu.edu/"> <font color="#512888"><u>Center for Information Assurance</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseSixbt">
				  ChERT Laboratory
				</a>
			  </h4>
			</div>
			<div id="collapseSixbt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://chert.cis.ksu.edu/home.html/"> <font color="#512888"><u>ChERT Laboratory</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseSevenbt">
				  Laboratory for Knowledge Discovery in Databases
				</a>
			  </h4>
			</div>
			<div id="collapseSevenbt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://www.kddresearch.org/"> <font color="#512888"><u>KDD Laboratory</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseEightbt">
				  Multiagent and Cooperative Reasoning Laboratory
				</a>
			  </h4>
			</div>
			<div id="collapseEightbt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://macr.cis.ksu.edu/"> <font color="#512888"><u>MaCR Laboratory</u></font></a>
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordionbt" href="#collapseNinebt">
				  Machine Learning and Bioinformatics Group
				</a>
			  </h4>
			</div>
			<div id="collapseNinebt" class="panel-collapse collapse">
			  <div class="panel-body">
				<a href="http://people.cis.ksu.edu/~dcaragea/mlb/doku.php/"> <font color="#512888"><u>MLB Group</u></font></a>
			  </div>
			</div>
		</div>
		
	</div>
</html>