<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		Computer and Infomation Sciences Student Portal
	</div>
  </nav>
  
<!--Set up tabs and what they say--!>
  <div class="tabbable tabs-left"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#events" data-toggle="tab">Events</a></li>
	<li><a href="#clubs" data-toggle="tab">Clubs</a></li>
	<li><a href="#staff" data-toggle="tab">Staff</a></li>
	<li><a href="#projects" data-toggle="tab">Projects</a></li>
	<li><a href="#research" data-toggle="tab">Research</a></li>
	<li><a href="#academics" data-toggle="tab">Academics</a></li>
	<li><a href="#employment" data-toggle="tab">Employment</a></li>
	<li><a href="#classes" data-toggle="tab">Classes</a></li>
	<li><a href="#studygroups" data-toggle="tab">Study Groups</a></li>
  </ul>
  
 <!--Start of the tab content--!>
  <div class="tab-content">
  
    <div class="tab-pane active" id="home">
      <p>I'm in home.</p>
    </div>
	
    <div class="tab-pane" id="events">
      <p>Howdy, I'm in events. YES!</p>
    </div>
	
	<div class="tab-pane" id="clubs">
      <div class="panel-group" id="accordion" padding-top="10px">
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				  ACM
				</a>
			  </h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
			  <div class="panel-body">
				Some Info
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				  Club2
				</a>
			  </h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
				Some Info
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				  Club3
				</a>
			  </h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
				Some Info
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				  Club4
				</a>
			  </h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
			  <div class="panel-body">
				Some Info
			  </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				  Club5
				</a>
			  </h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
			  <div class="panel-body">
				Some Info
			  </div>
			</div>
		</div>		
	  </div>
    </div>
	
	<div class="tab-pane" id="staff">
      <p>I'm in staff.</p>
    </div>
	
	<div class="tab-pane" id="projects">
      <p>I'm in projects.</p>
    </div>
	
	<div class="tab-pane" id="research">
      <p>I'm in research.</p>
    </div>
	
	<div class="tab-pane" id="academics">
      <p>I'm in academics.</p>
    </div>
	
	<div class="tab-pane" id="employment">
      <p>I'm in employment.</p>
    </div>
	
	<div class="tab-pane" id="classes">
      <div class="panel-group" id="accordion" padding-top="10px">
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				  CIS 115 - Intoduction to Computer Science
				</a>
			  </h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
			  <div class="panel-body">
				Introduction......
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				  CIS 200 - Fundamentals of Programming
				</a>
			  </h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
				Fundamentals.....
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				  CIS 300 - Data Structures
				</a>
			  </h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
				Data....
			  </div>
			</div>
		  </div>
		</div>
    </div>
	
	<div class="tab-pane" id="studygroups">
      <p>I'm in study groups.</p>
    </div>
	
  </div>
  
  
</div>
<!--
<div class ="btn-group-vertical">

	<button type="button" class="btn btn-default">Home</button>
	<button type="button" class="btn btn-default">Profile</button>
	<button type="button" class="btn btn-default">Messages</button>
	<button type="button" class="btn btn-default">Settings</button>

</div>
--!>
  </body>
</html>
