<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<div class ="btn-group-vertical">

	<button type="button" class="btn btn-default">Home</button>
	<button type="button" class="btn btn-default">Profile</button>
	<button type="button" class="btn btn-default">Messages</button>
	<button type="button" class="btn btn-default">Settings</button>

</div>
  </body>
</html>
