
<h1>Listing Events</h1>

<%= link_to 'New Event', new_event_path %><br>
<a href="/admin/index">Back to Admin Page</a>

  <tbody>
   <%= calendar @events do |event| %>
  <%= link_to event.name, event %>
<% end %>




<br>





